li{
    list-style: none;
}
#reg {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.reg {
    height: 48px;
    background: #FF6D00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color:#fff;
  }
.reg span{
      font-size: 15px;
      padding-right: 13px;
  }
.reg .span1{
    font-size: 13px;
    padding-left:12px;
}
.reg p{
      font-size: 15px;
}
.clearfix{
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
  }
.content{
    padding: 9px 12px 9px 19.2px;
}
.touxiang{
    margin-right: 12px;
    width: 58px;
    height: 58px;
    float: left;
}
.xinxi{
    display: inline-block;
    height: 58px;
}
.xinxi h3{
    font-weight: 500;
    font-size: 14px;
    color: #2B2B2B;
    padding: 7px 0;
}
.xinxi p{
    font-size: 10px;
    color: #A4A4A4;
}
.touxiang img{
    display: block;
    width: 100%;
    border-radius: 100%;
}
.xiugai{
    float: right;
}
.xiugai a{
    display: block;
    margin-top: 20px;
    width: 60px;
    height: 24px;
    border-radius: 3.6px;
    background: #EEEEEE;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    color: #ABABAB;
}
.shouji{
    height: 32px;
    width: 100%;
    margin-bottom: ;
}
.shouji a{
    display: block;
    width: 100%;
    height: 32px;
    background: #01ADFF;
    line-height: 32px;
    padding-left: 10px;
    color:#fff;
    font-size: 12px;

}
.libao{
    margin: 9.6px 0 8.4px;
    padding-left: 12px;
    font-size: 10.8px;
    line-height: 14.4px;
    color: #000000;
}